In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('gender_classify.csv')
df.head()

  Gender     Weight      Height
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [10]:
df.loc[df['Gender']=='Male', 'Gender']=1
df.loc[df['Gender']=='Female', 'Gender']=0

In [11]:
df.head()

  Gender     Weight      Height
0      1  73.847017  241.893563
1      1  68.781904  162.310473
2      1  74.110105  212.740856
3      1  71.730978  220.042470
4      1  69.881796  206.349801

In [12]:
np.dtype(df['Gender'])

dtype('O')

In [16]:
df['Gender']=df['Gender'].astype(int)

In [17]:
np.dtype(df['Gender'])

dtype('int32')

In [25]:
X = df.drop('Gender',axis=1)
y = df['Gender']

In [43]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=150)

In [104]:
from sklearn.tree import DecisionTreeClassifier

my_model = DecisionTreeClassifier(random_state=0)

result = my_model.fit(X_train,y_train)

In [105]:
predictions = result.predict(X_test)

In [106]:
new_pred = result.predict([[70,168]])

In [108]:
new_pred

array([0])