In [70]:
import pandas as pd
import numpy as np
import seaborn as sns

In [71]:
df = pd.read_csv('play.csv')

In [72]:
df.head()

    outlook temperature humidity  windy play
0  overcast         hot     high  False  yes
1  overcast        cool   normal   True  yes
2  overcast        mild     high   True  yes
3  overcast         hot   normal  False  yes
4     rainy        mild     high  False  yes

In [73]:
df.isnull().sum()

outlook        0
temperature    0
humidity       0
windy          0
play           0
dtype: int64

In [75]:
df.describe()

       outlook temperature humidity  windy play
count       14          14       14     14   14
unique       3           3        2      2    2
top      sunny        mild     high  False  yes
freq         5           6        7      8    9

In [76]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
cat2num = ['outlook','temperature','humidity','windy','play']

for i in cat2num:
    df[i] = le.fit_transform(df[i])

In [77]:
df.describe()

         outlook  temperature   humidity      windy       play
count  14.000000    14.000000  14.000000  14.000000  14.000000
mean    1.071429     1.142857   0.500000   0.428571   0.642857
std     0.828742     0.864438   0.518875   0.513553   0.497245
min     0.000000     0.000000   0.000000   0.000000   0.000000
25%     0.250000     0.250000   0.000000   0.000000   0.000000
50%     1.000000     1.000000   0.500000   0.000000   1.000000
75%     2.000000     2.000000   1.000000   1.000000   1.000000
max     2.000000     2.000000   1.000000   1.000000   1.000000

In [78]:
df.sample(5)

    outlook  temperature  humidity  windy  play
6         1            0         1      1     0
0         0            1         0      0     1
13        2            2         1      1     1
7         1            2         1      0     1
11        2            2         0      0     0

In [79]:
X = df.drop('play',axis=1)
y = df['play']

In [143]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=25)

In [144]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [145]:
import math
math.sqrt(len(y_test))

1.7320508075688772

In [146]:
from sklearn.neighbors import KNeighborsClassifier

my_model = KNeighborsClassifier(n_neighbors=1)
result = my_model.fit(X_train,y_train)

In [147]:
prediction = result.predict(X_test)
prediction

array([1, 0, 1])

In [148]:
from sklearn.metrics import confusion_matrix

confusion_mat = confusion_matrix(prediction,y_test)
confusion_df = pd.DataFrame(confusion_mat,index=['Actual 0','Actual 1'],columns=['Predicted 0','Predicted 1'])
confusion_df

          Predicted 0  Predicted 1
Actual 0            1            0
Actual 1            0            2

In [149]:
from sklearn.metrics import accuracy_score

accuracy_score(prediction,y_test)

1.0

In [153]:
new_predict = result.predict([[1,2,2,1]])
new_predict

array([1])

In [ ]:
# Test Values = 1,2,2,1