In [2]:
import pandas as pd

df = pd.read_csv('balloon.csv')

In [4]:
df.head()

    color   size      act    age inflated
0  YELLOW  SMALL  STRETCH  ADULT        T
1  YELLOW  SMALL  STRETCH  ADULT        T
2  YELLOW  SMALL  STRETCH  ADULT        T
3  YELLOW  SMALL  STRETCH  ADULT        T
4  YELLOW  SMALL  STRETCH  ADULT        T

In [5]:
df.tail()

     color   size  act    age inflated
95  PURPLE  LARGE  DIP  CHILD        F
96  PURPLE  LARGE  DIP  CHILD        F
97  PURPLE  LARGE  DIP  CHILD        F
98  PURPLE  LARGE  DIP  CHILD        F
99  PURPLE  LARGE  DIP  CHILD        F

In [9]:
df.columns

Index(['color', 'size', 'act', 'age', 'inflated'], dtype='object')

In [14]:
X = df.drop('inflated',axis=1)
y = df['inflated']

In [15]:
X

     color   size      act    age
0   YELLOW  SMALL  STRETCH  ADULT
1   YELLOW  SMALL  STRETCH  ADULT
2   YELLOW  SMALL  STRETCH  ADULT
3   YELLOW  SMALL  STRETCH  ADULT
4   YELLOW  SMALL  STRETCH  ADULT
..     ...    ...      ...    ...
95  PURPLE  LARGE      DIP  CHILD
96  PURPLE  LARGE      DIP  CHILD
97  PURPLE  LARGE      DIP  CHILD
98  PURPLE  LARGE      DIP  CHILD
99  PURPLE  LARGE      DIP  CHILD

[100 rows x 4 columns]

In [16]:
y

0     T
1     T
2     T
3     T
4     T
     ..
95    F
96    F
97    F
98    F
99    F
Name: inflated, Length: 100, dtype: object