In [27]:
import pandas as pd
import numpy as np

df = pd.read_csv('gender_classify.csv')

In [2]:
df.head()

  Gender     Weight      Height
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [40]:
df.loc[df['Gender']=='Male', 'Gender']=0
df.loc[df['Gender']=='Female', 'Gender']=1

In [41]:
df.head()

  Gender     Weight      Height
0      0  73.847017  241.893563
1      0  68.781904  162.310473
2      0  74.110105  212.740856
3      0  71.730978  220.042470
4      0  69.881796  206.349801

In [54]:
X = df.drop('Gender',axis=1)
y = df['Gender']

df['Gender'] = df['Gender'].astype(int)

np.dtype(df['Gender'])

dtype('int32')

In [64]:
from sklearn.model_selection import train_test_split

#Here 0.2 means 20% of data out of total for testing
#And random is to assign same values to train and test parameters every time we make a split
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.2, random_state=156)

In [67]:
from sklearn.tree import DecisionTreeClassifier

my_model = DecisionTreeClassifier(random_state=0)

result = my_model.fit(X_train,y_train)    #Training

In [70]:
predictions = result.predict(X_test)      #Test

In [72]:
predictions

array([0, 1, 0, ..., 1, 0, 0])

In [ ]:
#Deploying the Model

In [98]:
new_pred = result.predict([[70,168]])
new_pred

array([1])