In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('Iris.csv')

In [4]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [10]:
df['species'].value_counts()

virginica     50
setosa        50
versicolor    50
Name: species, dtype: int64

In [13]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [30]:
from sklearn.preprocessing import LabelEncoder

cat2num = ['species']

le = LabelEncoder()

for i in cat2num:
    df[i] = le.fit_transform(df[i])

In [42]:
df['species'].value_counts()

2    50
1    50
0    50
Name: species, dtype: int64

In [31]:
df.sample(10)

     sepal_length  sepal_width  petal_length  petal_width  species
117           7.7          3.8           6.7          2.2        2
33            5.5          4.2           1.4          0.2        0
11            4.8          3.4           1.6          0.2        0
16            5.4          3.9           1.3          0.4        0
9             4.9          3.1           1.5          0.1        0
7             5.0          3.4           1.5          0.2        0
110           6.5          3.2           5.1          2.0        2
130           7.4          2.8           6.1          1.9        2
142           5.8          2.7           5.1          1.9        2
103           6.3          2.9           5.6          1.8        2

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

In [22]:
X = df.drop(['species'], axis=1)
y = df['species']

In [25]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=50)

In [34]:
from sklearn.tree import DecisionTreeClassifier

my_model = DecisionTreeClassifier(random_state=0)

result = my_model.fit(X_train,y_train)

In [48]:
predictions = result.predict(X_test)

In [49]:
predictions

array([1, 1, 0, 0, 2, 2, 2, 0, 0, 1, 0, 2, 0, 2, 1, 0, 1, 0, 1, 2, 2, 1,
       0, 2, 1, 2, 1, 1, 1, 2])

In [50]:
X_test

     sepal_length  sepal_width  petal_length  petal_width
88            5.6          3.0           4.1          1.3
72            6.3          2.5           4.9          1.5
20            5.4          3.4           1.7          0.2
16            5.4          3.9           1.3          0.4
147           6.5          3.0           5.2          2.0
140           6.7          3.1           5.6          2.4
113           5.7          2.5           5.0          2.0
23            5.1          3.3           1.7          0.5
12            4.8          3.0           1.4          0.1
68            6.2          2.2           4.5          1.5
39            5.1          3.4           1.5          0.2
130           7.4          2.8           6.1          1.9
34            4.9          3.1           1.5          0.1
112           6.8          3.0           5.5          2.1
55            5.7          2.8           4.5          1.3
25            5.0          3.0           1.6          0.2
82            5.8          2.7           3.9          1.2
48            5.3          3.7           1.5          0.2
81            5.5          2.4           3.7          1.0
77            6.7          3.0           5.0          1.7
100           6.3          3.3           6.0          2.5
80            5.5          2.4           3.8          1.1
14            5.8          4.0           1.2          0.2
131           7.9          3.8           6.4          2.0
86            6.7          3.1           4.7          1.5
118           7.7          2.6           6.9          2.3
56            6.3          3.3           4.7          1.6
54            6.5          2.8           4.6          1.5
97            6.2          2.9           4.3          1.3
143           6.8          3.2           5.9          2.3

In [54]:
new_predict = result.predict([[5.1,3.5,1.4,0.2]])

In [55]:
new_predict

array([0])